{% extends "index.html" %}
{% block content %}

<body>
    <form action='/'>
        <button type='submit'>Clear</button>
    </form>
    <p>Last 5 days prices and predictions</p>
    <div class="container">
        <canvas id="my_chart_small" width="800" height="400" padding="20px"></canvas>
    </div>
    <script>
        Chart.defaults.global.responsive = false;
        var ctx = document.getElementById('my_chart_small').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [{% for label in label_small %} '{{label}}', {% endfor %}],
            datasets: [{
                label: '{{currency}} prices',
                backgroundColor: "rgba(75,192,192,0.4)",
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                borderColor: "rgba(75,192,192,1)",
                data: [{% for item in value_small %} '{{item}}', {% endfor %}],
        }]
    },

    
    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    //suggestedMin: 300,
                    //suggestedMax: 40000
                }
            }]
        },
        //onClick: chartClickEvent
    }
});
    </script> 
    <p>Current price of {{currency}} is {{price}} USD.</p>
    <p>Prices in last 5 years</p>
    
    <div class="container">
        <canvas id="my_chart" width="800" height="400" padding="20px"></canvas>
    </div>
        
    <script>     
     
  
        Chart.defaults.global.responsive = false;
        var ctx = document.getElementById('my_chart').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [{% for label in labels %} '{{label}}', {% endfor %}],
            datasets: [{
                label: '{{currency}} prices',
                backgroundColor: "rgba(75,192,192,0.4)",
                ill: true,
                lineTension: 0.1,
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                borderColor: "rgba(75,192,192,1)",
                data: [{% for item in values %} '{{item}}', {% endfor %}],
        }]
    },

    
    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    //suggestedMin: 300,
                    //suggestedMax: 40000
                }
            }]
        },
        //onClick: chartClickEvent
    }
});

    </script>

    <div id="canvas_pie" style="width:40%">
        <!-- <div class="chartjs-render-monitor"></div> -->
        <canvas id="chart-area" width="538" height="269" class="chartjs-render-monitor"></canvas>
    </div>
    <form method='POST'>
        <input type="text" name="data_type" value="reddit" hidden>
        <button type='submit'>Reddit</button>
    </form>
    <form method='POST'>
        <input type="text" name="data_type" value="twitter" hidden>
        <button type='submit'>Twitter</button>
    </form>
    <form method='POST'>
        <input type="text" name="data_type" value="news" hidden>
        <button type='submit'>News</button>
    </form>
    <form method='POST'>
        <input type="text" name="data_type" value="all" hidden>
        <button type='submit'>All</button>
    </form>

    <script>
        Chart.defaults.global.responsive = false;
        var ctx = document.getElementById('chart-area').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        '{{positive}}',
                        '{{neutral}}',
                        '{{negative}}',
                    ],
                    backgroundColor: [
                    'rgba(114, 255, 48, 1)',
                    'rgba(234, 174, 0, 1)',
                    'rgba(225, 25, 1, 1)',
                    ],
                    label: '{{data_type_label}}'

                }],
                labels: [
                    '{{positive_label}}',
                    '{{neutral_label}}',
                    '{{negative_label}}',
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: "bottom"
                },
                title: {
                    display: true,
                    text: "sentiment data"
                },
                animation: {
                    animationScale: true,
                    animationRotate: true
                }
            }
        }
        );
        // window.onload = function() {
        //     var ctx = document.getElementById('chart-area').getContext('2d');
        //     var chart = new Chart(ctx, config);
        // };
    </script>
</body>
{% endblock %}  